@import 'variables';
@import '../.././node_modules/bulma/bulma.sass';

body {
  margin: 0;
  background: $color-wild-sand;
}

#app {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
